.slidecontainer {
    width: 260px;
    position: relative;
}

.slider {
    max-width: 180px;
}
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #04AA6D;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }
  h4.section_header {
    
    font-family: 'Poppins', serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #151515;
}

.mm_text{
    height: 18px;
    left: 0px;
    right: 0px;
    top: 0px;
    text-align: left;
    margin: 0;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;

    color: #151515;
}

.inp_min, .inp_max {
    box-sizing: border-box;

    height: 42px;
    width: 109px;

    left: 0px;
    right: 0px;
    top: 18px;
    bottom: 0px;
    
    /* C1/H */
    
    background: #F9F9F9;
    /* C1/D */
    
    border: 1px solid #D1D1D1;
    border-radius: 12px;
}

.buttons {
    margin-top: 20px;
}