header {
    height: 110px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 180px;
    background: #FFFFFF;
}

.shopTitle {
    font-family: 'Poppins';
    font-size: 30px;
}

nav {
    background: #F9F9F9;
    padding: 8px 180px;
}

.navMenu {
    display: flex;
    flex-direction: row;
    gap: 100px;
    padding: 0;
}

.navMenu li {
    list-style-type: none;
    font-family: 'Poppins';
    font-size: 15px;
    color: #151515;
}

